@import url("styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("styles/header.css");
@import url("styles/main.css");

body {
    background: #D5E5F2;
    font-family: "Roboto", sans-serif;
}

.container {
    background: #D5E5F2;
    color: #1c1c1c;
    padding: 64px;
}

@media screen and (max-width: 480px) {
    .container {
        padding: 20px 15px 20px 15px;
    }
}
