@import url("styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("styles/header.css");
@import url("styles/main.css");

body {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
    font-family: "Roboto", sans-serif;
}

.container {
    background: #ecf4ff;
    color: #1c1c1c;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1d2f;
    padding: 64px;
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px 5px;
        width: 95vw;
        margin: 5px;
    }
    
    .container {
        margin: 3px;
        padding: 20px 15px 20px 15px;
    }
}
